body{
    font-family: system-ui;
    background-color: #33203b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


ul {
    list-style-type: none;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.347);
    border-radius: 14px;
    border: transparent 10px solid;
    padding: 25px;
    background-image: 
    radial-gradient(circle at 50% 250%,rgb(255, 255, 255), transparent),
    linear-gradient(rgba(203, 154, 154, 0.249), rgba(191, 0, 255, 0.675));
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
}